<div class="container-fluid">

        <div class="well">

                Recherche : <input ng-model="query">

        </div>


        <div class="panel panel-primary" ng-repeat="s in services">
            <div class="panel-heading">
                <h3 class="panel-title">{{ s.label }}</h3>
            </div>
            <div class="panel-body">
                <ul>
                            <li ng-repeat="personne in s.personnes|filter:query">
                               {{ personne.fonction_name }} <a  ng-click="open(personne.id)"> {{ personne.nom }} {{ personne.prenom }}</a>
                                  :   {{ personne.phone }}
                            </li>
                        </ul>
            </div>
        </div>
<div>
