{% extends "xadmin/base_site.html" %}
{% load lib_inscription static%}
{% block extrastyle %}
    {{ block.super }}
    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular/angular-route.js" %}"></script>
    <script src="{% static "angular/angular-resource.js" %}"></script>
    <script src="{% static "angular/ui-bootstrap-0.13.1.js" %}"></script>
    <script src="{% static "personnel/app/js/app.js" %}"></script>
    <script src="{% static "personnel/app/js/controller.js" %}"></script>
    <script src="{% static "personnel/app/js/services.js" %}"></script>
{% endblock %}
{% block nav_title %}Annuaire IED{% endblock %}
{% block content %}

<div ng-app="personnelApp">

    <div ng-view></div>
</div>


{% endblock %}
